.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.Weather strong {
  color: #fff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .btn.btn-primary {
  color: #fff;
  background-color: #106b18;
  border-color: #106b18;
}
.Weather .btn.btn-primary:hover {
  color: #fff;
  background-color: #ec6e4b;
  border-color: #ec6e4b;
}

.Weather .btn.btn-light {
  color: #fff;
  background-color: #106b18;
  border-color: #106b18;
}

.Weather .btn.btn-light:hover {
  color: #fff;
  background-color: #ec6e4b;
  border-color: #ec6e4b;
}

.Weather .col-2 {
  text-align: center;
}
.Weather .col-2 img {
  width: 100%;
}

.Weather .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
.Weather .weather-app-wrapper {
  margin: 0 auto;
  max-width: 600px;
}
.Weather .weather-app {
  background-color: #081613;
  border: 2px solid #106b18;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

.Weather .weather-forecast {
  margin-top: 10px;
}
.Weather .weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  padding-top: 7px;
}
.Weather .weather-forecast-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.Weather .units .active {
  color: #fff;
  cursor: default;
}
.Weather .units .active:hover {
  text-decoration: none;
}
